* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.employee-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.page-title {
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-top:1000px;
}

.filters {
  margin-bottom: 20px;
}

.table-container {
  width: 90%;
  overflow-x: auto;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333; /* Dark border */
}

.employee-table th,
.employee-table td {
  padding: 8px;
  border: 1px solid #333; /* Dark border */
  text-align: left;
}

.employee-table th {
  background-color: #4CAF50; /* Green background color for headers */
  color: white; /* White text color for headers */
  font-weight: bold;
}

.employee-table th:nth-child(7) {
  position: relative;
}

.employee-table td:nth-child(n+5) {
  text-align: right; /* Align numeric values to the right */
}

.employee-table td:nth-child(n+5):not(:last-child) {
  padding-right: 20px; /* Add padding to separate numeric values */
}

.sort-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.employee-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-table th,
.employee-table td {
  transition: background-color 0.3s ease;
}

.employee-table tbody tr:hover {
  background-color: #f0f;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 400px;
  }
}
