/* Products.css */



.card {
  border: none; /* Remove border */
  border-radius: 8px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px); /* Move card slightly up on hover */
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: contain;
  border: 2px solid #ddd; /* Add border style */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.mrp, .cost, .discount {
  font-size: 14px;
  color: #888;
}

.mrp {
  color: #ff5733; /* Change to a nice color (orange) */
}

/* Button styling */
.button {
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  width: auto;
  background-color: #ff5733; /* Change button background color */
  border-color: #ff5733; /* Change button border color */
  color: white;
}

.button:hover {
  background-color: #d63200; /* Darker background color on hover */
  border-color: #d63200; /* Darker border color on hover */
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 400px;
  }
}

/* .mb-3 {
  margin-right: 20px;
} */
