/* Custom CSS */
/* Add your custom styles here */

/* Navbar */
.navbar {
    background-color: #343a40;
  }
  
  .navbar-brand img {
    margin-top: -5px;
  }
  
  .navbar-toggler {
    border-color: transparent;
  }
  
  .navbar-toggler-icon {
    background-color: white;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: white !important;
  }
  
  /* Progress Status */
  .progress {
    margin-top: 20px;
  }
  
  /* Review Order Content */
  .card {
    margin-top: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
 